@using IgorTeterkin.Tables.WebUI.Controllers
@using System.Web
@{
    ViewBag.Title = "Данные по страхованию";
}

@section styles{
    <link rel="stylesheet" href="~/Content/main.css">
}

<div id="tables">
    <b class="tableTitle">Информация о договоре страхования:</b>
    <table id="contractInfo">
        <tr>
            <th>Номер договора</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
        </tr>
    </table>
    <br>
    <b class="tableTitle">Информация о страхователе:</b>
    <table id="naturalPersonData">
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Пол</th>
        </tr>
    </table>
    <br>
    <b class="tableTitle">Документ страхователя:</b>
    <table id="naturalPersonMainDocument">
        <tr>
            <th>Атрибут</th>
            <th>Значение</th>
        </tr>
    </table>
    <br>
    <b class="tableTitle">Страховые риски:</b>
    <table id="risksDictionary">
        <tr>
            <th>Код</th>
            <th>Наименование</th>
            <th>Страховая сумма, руб.</th>
            <th>Премия, руб.</th>
        </tr>
    </table>
    <br>
    <b class="tableTitle">Значимая информация:</b>
    <table id="valuableInfo">
        <tr>
            <th>Страховая сумма по смерти, руб.</th>
            <th>Общая страховая премия, руб.</th>
            <th>Курс USD/RUB</th>
        </tr>
    </table>
</div>

@section scripts {
    <script src="~/Scripts/DisplayData.js"></script>
}